# Unreal Engine
Binaries/
Build/
DerivedDataCache/
Intermediate/
Saved/
*.VC.db
*.opensdf
*.opendb
*.sdf
*.sln
*.suo
*.xcodeproj
*.xcworkspace

# Plugins (빌드 산출물만 제외)
Plugins/*/Binaries/
Plugins/*/Intermediate/

# Visual Studio
.vs/

# OS
Thumbs.db
Desktop.ini
.DS_Store
